<hr>
<%= simple_form_for [:admin,@article] do |f| %>
<div class="form-article">
  <%= f.input :title, label: "标题"%>
  <%= f.input :description, label: "正文" %>
</div>
<%= f.submit "确定", class: "btn btn-primary", data: {disable_with: "提交中..."} %>
<% end %>
