<div class="col-md-12">
  <% if @articles.blank? %>
  <br>
  <h3 class="text-center">
    Opps! No articles matched yet, please try again.
  </h3>
  <% else %>
  <h3 class="text-center" > Total find <%= @articles.count %>文章</h3>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <td>标题</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody id="article-list">
      <% @articles.each do |article| %>
      <%= render :partial => "move", :locals => {:article => article}%>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails,:previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
  <% end %>
</div>
