<div class="col-md-12">
  <div class="article">
    <br>
    <%= link_to("New Article",new_admin_article_path,class: "btn btn-sm btn-default pull-right") %>

  </div>

  <table class="table">
    <thead>
      <tr>
        <td>标题</td>
        <td>文章状态</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to(article.title,edit_admin_article_path(article)) %></td>
        <td><%= t(article.status, :scope => "article.status") %></td>
        <td><%= link_to("删除",admin_article_path(article),class: "btn btn-sm btn-default",method: :delete, data: {confirm: "确定要删除该文章？"}) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
