<div class="col-md-12">
  <div class="article">
    <br>
    <%= link_to("写文章",new_admin_article_path,class: "btn btn-sm btn-default pull-right") %>

  </div>

  <table class="table">
    <thead>
      <tr>
        <td>标题</td>
        <td>状态</td>
        <td>类别</td>
        <td>标签</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody id="article-list">
      <% @articles.each do |article| %>
      <%= render :partial => "move", :locals => {:article => article}%>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <div class="pagination">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
</div>
