<div class="col-md-12">
  <div class="article">
    <br>

  </div>

  <table class="table">
    <thead>
      <tr>
        <td>标题</td>
        <td>正文</td>
        <td>发布时间</td>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to(article.title,article_path(article)) %></td>
        <td><%= markdown(article.description.first(80)+"...") %></td>
        
        <td><%= article.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
</div>
