<div class="col-md-12">
  <div class="article">
    <%= link_to("New Article",new_article_path) %>

  </div>

  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to(article.title,article_path(article)) %></td>
        <td><%= article.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
