<div class="col-md-12">
  <% if @articles.blank? %>
  <br>
  <h3 class="text-center">
    未找到匹配的文章，请调整关键词
  </h3>
  <% else %>
  <h3 class="text-center" > 共找到 <%= @articles.count %>篇文章</h3>
  <hr>

  <table class="table ">
   <thead>
     <tr>
       <td>
         标题
       </td>
       <td>
         正文
       </td>
     </tr>
   </thead>
   <tbody>
     <% @articles.each do |article| %>
     <tr>
       <td >
         <%= link_to(render_highlight_content(article,@query_string), article_path(article)) %>
       </td>
       <td >
         <%= markdown(article.description) %>
       </td>
     </tr>
     <% end %>
   </tbody>
  </table>
  <div class="text-center">
    <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails,:previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
  <% end %>
</div>
