<div class="col-md-12">
  <div class="article">
  </div>
  <h2><%= @article.title %></h2>
  <p><%= markdown(@article.description)%></p>
  <% @article.labels.each do |label| %>
  <button class="btn btn-default btn-sm"> <%= label.try(:name)%> </button>
  <% end %>
</div>
